.author-page
  .bannerContainer
    img.banner(src='../img/guilherme-esteves-meio-doido.jpg')

  h1.text-center Guilherme Esteves
  h2.text-center Já vou me desculpando adiantado

  a.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c(href="http://escrevida.com", target='_blank', data-role="button", data-corners="true", data-shadow="true", data-iconshadow="true", data-wrapperels="span", data-theme="c")
    span.ui-btn-inner.ui-btn-corner-all
      span.ui-btn-text Conheça o EscreVida

  p.text-center Trabalho como programador, sonho em ser escritor, falho em ser humorista.

  p.text-center
    strong Ingressei na Paidéia em 2014.
    br
    | Faço parte do Grupo do Valdênio :)

  fieldset(class='ui-grid-a')
    div(class='ui-block-a')
      a.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c(href='https://www.facebook.com/esteves.guilherme', target='_blank', data-role='button', data-corners='true', data-shadow='true', data-iconshadow='true', data-wrapperels='span', data-theme='c')
        span.ui-btn-inner.ui-btn-corner-all
          span.ui-btn-text Facebook
    div(class='ui-block-b')
      a.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c(href='https://twitter.com/guilhermesteves', target='_blank', data-role='button', data-corners='true', data-shadow='true', data-iconshadow='true', data-wrapperels='span', data-theme='c')
        span.ui-btn-inner.ui-btn-corner-all
          span.ui-btn-text Twitter
