.main-page
  br

  hr.ornamental
  h3.home-title Bem vindo ao Coral Paideia
  hr.ornamental

  br

  div.ui-content(data-role='content')

    //-form.ui-listview-filter.ui-bar-b.ui-listview-filter-inset
    div.ui-input-search.ui-btn-corner-all.ui-btn-shadow.ui-icon-searchfield
        input#search.ui-input-text.ui-body-b(placeholder='Pesquise a música/letra...', ng-model='pesquisa', type='search')

    ul.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow
      li.ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-btn-up-c(ng-repeat='m in getMusics() | filter: pesquisa', ng-class="{'ui-corner-bottom':$last,'ui-corner-top':$first}", data-corners='false', data-shadow='false', data-iconshadow='true', data-icon='arrow-r', data-iconpos='right', data-theme='c')
        div.ui-btn-inner.ui-li
          a.ui-link-inherit(ui-sref='music({ slug: m.slug })') {{ m.nome }}



