doctype html
html(ng-app='coralPaideia')
  head
    // Metatags essenciais
    meta(name='description', content='')
    meta(charset='iso-8859-1')
    meta(http-equiv='content-type', content='text/html; charset=ISO-8859-1')
    meta(http-equiv='Cache-control', content='public')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')

    // Metatags SEO
    meta(name='Keywords', content='Paidéia, coral, músicas')
    meta(name='Description', content='Aplicativo para o Coral Paidéia, que engloba todas as músicas')

    // TODO: colocar metatags sociais

    // Imagens
    link(type='image/x-icon', rel='shortcut icon', href='img/favicon.ico')
    link(type='image/x-icon', rel='icon', href='img/favicon.ico')
    link(rel='apple-touch-icon', sizes='114x114', href='images/splash/splash-icon.png')
    link(rel='apple-touch-startup-image', href='images/splash/splash-screen.png', media='screen and (max-device-width: 320px)')
    link(rel='apple-touch-startup-image', href='images/splash/splash-screen@2x.png', media='(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='images/splash/splash-screen@3x.png', sizes='640x1096')

    // CSSs
    link(rel='stylesheet', media='screen', href='./lib/css/lib_@@version.css')
    link(rel='stylesheet', media='screen', href='./css/style_@@version.css')

    title Coral Paideia

  body
    div(data-role='page')
      header
      div(data-role='content')
        .content_block(ui-view='slide')
        .content_block(ui-view='content')
        //.content_block(ui-view='social')
      footer

    script(type='text/javascript', src='./lib/js/lib_@@version.js')
    script(type='text/javascript', src='./js/script_@@version.js')
