.flexslider
  script(type='text/javascript').
    $(document).ready(function() {
      $('.flexslider').flexslider({
        animation: 'slide',
        slideDirection: 'horizontal',
        controlsContainer: '.flex-container'
      });
    });

  div.flex-container
    div.flexslider
      ul.slides
        li(ng-repeat='s in getSlides()')
          img(src='s.imageUrl', alt='s.nome')
          p.flex-caption(ng-show='s.legenda') {{ s.legenda }}

  div.shadow1box
    img.shadow1(src='img/shadow1.png', alt='shadow')
